body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position:relative;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!   PÁGINA DE INICIO  !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*--------------------------VIDEO DE FONDO-------------------------------*/
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1;
}
/*-------------------ENCABEZADO: LOGO, NAV Y BOTON BOLETAS--------------------------------*/
.header-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 0;
}

.encabezado {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.logo {
    width: 150px; 
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

nav {
    display: flex;
}

nav a {
    margin: 0 25px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a:hover {
    transform: scale(1.2);
}
.entradas-btn {
    background-color: #f7d735;
    color: rgba(0, 0, 0, 0.703);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.entradas-btn:hover{
    transform: scale(1.1);
    background-color: rgb(224, 198, 0);
    color: white;
}

/*---------------------TEXTO DEL CENTRO Y BOTON COMPRAR BOLETAS----------------------*/

.main-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
}

.main-inicio.visible {
    opacity: 1;
    transform: translateY(0);
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    color: white;
    margin-top: 100px;
    z-index: 1;
}

.animate-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color:#f7d735;
    margin: 2px 0;
}

.aniversario-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:white;
    margin: 2px 0;
}

.descripcion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color:white;
    margin: 2px 0;
    margin-bottom: 10px;
    width: 65%;
}



.flecha-img {
    width: 80px;
    height: 40px;
    background-image: url('../multimedia/imagenes/flecha.png'); 
    background-size: cover;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-10px);
    }
  
    60% {
      transform: translateY(-5px);
    }
  }


.compra-btn {
    border: 6px solid #f7d735;
    background: transparent;
    color: white;
    margin-bottom: 150px;
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.compra-btn:hover {
    transform: scale(1.1);
    border: 6px solid rgb(224, 198, 0);
}



/*************************************FOOTER: REDES SOCIALES************************************/

footer {
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: auto;
}

.redes{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los iconos verticalmente en el centro */
    gap: 5px; /* Espacio entre los iconos */
    margin-top: 20px;
    height: 40px;
    
}

.copy_right {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

}
